<!DOCTYPE HTML>

<html>
	<head>
		<title>addRest</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
	<form  class="addRestForm" method="post">
		<p> name</p>
		<input  class="addRestInput" type="text" name="name">
		<p>rate</p>
		<input class="addRestInput"  type="text" name="rate">
		<p>time</p>
		<input class="addRestInput"  type="text" name="workTime">
		<p>check</p>
		<input class="addRestInput"  type="text" name="averageCheck">
		<p> food</p>
		<input class="addRestInput"  type="text" name="food">
		<p> imgUrl</p>
		<input class="addRestInput"  type="text" name="imgUrl">
		<p> CoorX</p>
		<input class="addRestInput"  type="text" name="x">
		<p> CoorY</p>
		<input class="addRestInput"  type="text" name="y">
		<input type="submit" value="add">
	</form>	
	<h1>Add new Table</h1>
	<form  class="addRestForm" method="post" action="/addTable">
		<p> TableNumber</p>
		<input  class="addRestInput" type="text" name="tableNumber">
		<p>RestName</p>
		<select class="addRestInput" name="restName" size="1"> 
			<%for(var k=0;k< rest.length;k++){%>	
				<option value="<%= rest[k].name%>"><%= rest[k].name%></option>
			<%}%>
		</select>
		<!-- <input class="addRestInput"  type="text" name="restName"> -->
		<p>NumberOfSeats</p>
		<input class="addRestInput"  type="text" name="numberOfSeats">
		<input type="submit" value="add">
	</form>
	</body>
</html>
