<!DOCTYPE HTML>

<html>
	<head>
		<title>addRest</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
	<form  class="addRestForm" method="post">
		<p> name</p>
		<input  class="addRestInput" type="text" name="name">
		<p>rate</p>
		<input class="addRestInput"  type="text" name="rate">
		<p>time</p>
		<input class="addRestInput"  type="text" name="workTime">
		<p>check</p>
		<input class="addRestInput"  type="text" name="averageCheck">
		<p> food</p>
		<input class="addRestInput"  type="text" name="food">
		<p> imgUrl</p>
		<input class="addRestInput"  type="text" name="imgUrl">
		<p> CoorX</p>
		<input class="addRestInput"  type="text" name="x">
		<p> CoorY</p>
		<input class="addRestInput"  type="text" name="y">
		<input type="submit" value="add">
	</form>
	</body>
</html>
