<!DOCTYPE HTML>

<html>
	<head>
		<title>Cancel booking</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		<div class="RegForm">
			<form  class="addRestForm" method="post" action="/cancelBooking/<%=restName%>">
				<p> Your name </p>
				<input  class="addRestInput" type="text" name="clientName">
				<input type="submit" value="Cancel">
			</form>
		</div>
	</body>
</html>
